*{
    padding: 0;
    margin: 0;
}
h2{
    width: 100%;
    text-align: center;
    color: red;
    text-decoration: black underline;
    padding: 20px;
}
.work{
    text-align: center;
}
body{
    background-color: gray;

}